<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.ntou.smartcampus">

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBeaL9ppRdJmyW0uElUbzvgng4h_q5vzOQ" />
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SOS.EmergencyBellActivity"
            android:label="EmergencyBell"/>
        <activity
            android:name=".Intro.DefaultIntro"
            android:label="DefaultIntro"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Theme.GenderInforActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity 
            android:name=".Theme.SosBellActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity android:name=".Theme.CustomMapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
            </activity>
        <activity android:name=".Theme.NightMapActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity
            android:name=".Theme.SiteInforActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
        <activity
            android:name=".Theme.WorkoutPlanActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main.MainActivity" />
        </activity>
    </application>

</manifest>